/.Build/*
/.cache
/.fleet
/.php-cs-fixer.cache
/.phpunit.result.cache
/*.idea
/clover.xml
/composer.lock
/Documentation-GENERATED-temp/
/generate-documentation.sh
/nbproject
/node_modules/
/var
/yarn-error.log
/yarn.lock
/composer.json.testing
