
includes:
    - .Build/vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    # You can currently choose from 10 levels (0 is the loosest and 9 is the strictest).
    level: 8

    paths:
        - Classes/
        - Configuration/
        - Resources/
        - ext_localconf.php

    excludePaths:
        - ext_emconf.php

    checkMissingIterableValueType: false
