
includes:
    - %currentWorkingDirectory%/.Build/vendor/phpstan/phpstan-strict-rules/rules.neon
    #- %currentWorkingDirectory%/.Build/vendor/phpstan/phpstan-deprecation-rules/rules.neon
    #- %currentWorkingDirectory%/.Build/vendor/friendsoftypo3/phpstan-typo3/extension.neon

parameters:
    # You can currently choose from 10 levels (0 is the loosest and 9 is the strictest).
    level: 8

    paths:
        - %currentWorkingDirectory%/Classes/
        - %currentWorkingDirectory%/Configuration/
        - %currentWorkingDirectory%/Resources/
        - %currentWorkingDirectory%/ext_localconf.php

    excludePaths:
        - %currentWorkingDirectory%/.Build/*
        - %currentWorkingDirectory%/ext_emconf.php