parameters:
  level: 8
  reportUnmatchedIgnoredErrors: true
  ignoreErrors:

  # ignored errors for level 1
  -
    path: ext_emconf.php
    message: '#Variable \$_EXTKEY might not be defined\.#'

  # ignored errors for level 4
  -
    message: '#Right side of \\|\\| is always false#'
    paths:
      - ext_localconf.php
      - Configuration/TCA/Overrides/*