<?xml version="1.0"?>
<!--
    Unit test suite setup

    Unit tests should extend \TYPO3\TestingFramework\Core\Tests\UnitTestCase,
    take a look at this class for further documentation on how to run the suite.
-->
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
    backupGlobals="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    cacheDirectory=".phpunit.cache"
    cacheResult="false"
    colors="true"
    failOnDeprecation="true"
    failOnNotice="true"
    failOnRisky="true"
    failOnWarning="true"
    requireCoverageMetadata="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
>
  <testsuites>
    <testsuite name="Unit tests">
      <!--
                This path either needs an adaption in extensions, or an extension's
                test location path needs to be given to phpunit.
            -->
      <directory>../../Tests/Unit/</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="display_errors" value="1"/>
    <ini name="error_reporting" value="E_ALL"/>
    <env name="TYPO3_CONTEXT" value="Testing"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">../../Classes</directory>
    </include>
  </source>
</phpunit>
