<figure class="image{f:if(condition: image.htmlAttributes.class, then: ' {image.htmlAttributes.class}')}">
    <a href="{image.link.url}"
       f:if="{image.link.target}" target="{image.link.target}"
       f:if="{image.link.class}" class="{image.link.class}"
       data-popup="true">
        <img src="{image.src}"
             alt="{image.alt}"
             width="{image.width}"
             height="{image.height}"
             f:if="{image.title}" title="{image.title}"
             f:if="{image.htmlAttributes.style}" style="{image.htmlAttributes.style}"
             f:if="{image.htmlAttributes.loading}" loading="{image.htmlAttributes.loading}" />
    </a>
    <figcaption>{image.caption}</figcaption>
</figure>
