services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  Netresearch\RteCKEditorImage\:
    resource: '../Classes/*'

  # Explicitly configure controllers with dependencies
  Netresearch\RteCKEditorImage\Controller\SelectImageController:
    public: true
    tags: ['backend.controller']
    arguments:
      $resourceFactory: '@TYPO3\CMS\Core\Resource\ResourceFactory'
      $uploadFolderResolver: '@TYPO3\CMS\Core\Resource\DefaultUploadFolderResolver'
      $elementBrowserRegistry: '@TYPO3\CMS\Backend\ElementBrowser\ElementBrowserRegistry'

  Netresearch\RteCKEditorImage\Controller\ImageLinkRenderingController:
    public: true
    arguments:
      $resourceFactory: '@TYPO3\CMS\Core\Resource\ResourceFactory'
      $logManager: '@TYPO3\CMS\Core\Log\LogManager'

  Netresearch\RteCKEditorImage\Controller\ImageRenderingController:
    public: true
    arguments:
      $resourceFactory: '@TYPO3\CMS\Core\Resource\ResourceFactory'
      $processedFilesHandler: '@Netresearch\RteCKEditorImage\Utils\ProcessedFilesHandler'
      $logManager: '@TYPO3\CMS\Core\Log\LogManager'

  # Utility classes with dependencies
  Netresearch\RteCKEditorImage\Utils\ProcessedFilesHandler:
    arguments:
      $imageService: '@TYPO3\CMS\Extbase\Service\ImageService'

  Netresearch\RteCKEditorImage\DataHandling\SoftReference\RteImageSoftReferenceParser:
    public: true
    tags:
      - name: softreference.parser
        parserKey: rtehtmlarea_images

  # DataHandler hook with full dependency injection
  Netresearch\RteCKEditorImage\Database\RteImagesDbHook:
    public: true
    arguments:
      $extensionConfiguration: '@TYPO3\CMS\Core\Configuration\ExtensionConfiguration'
      $logManager: '@TYPO3\CMS\Core\Log\LogManager'
      $resourceFactory: '@TYPO3\CMS\Core\Resource\ResourceFactory'
      $context: '@TYPO3\CMS\Core\Context\Context'
      $requestFactory: '@TYPO3\CMS\Core\Http\RequestFactory'
      $uploadFolderResolver: '@TYPO3\CMS\Core\Resource\DefaultUploadFolderResolver'

  # Event listener for automatic RTE softref enforcement
  Netresearch\RteCKEditorImage\Listener\TCA\RteSoftrefEnforcer:
    arguments:
      $extensionConfiguration: '%env(TYPO3:configKey:EXTENSIONS/rte_ckeditor_image)%'
    tags:
      - name: event.listener
        identifier: 'nr-rte-softref-enforcer'
        event: TYPO3\CMS\Core\Configuration\Event\AfterTcaCompilationEvent
        after: '*'
