name: Add issues to Netresearch TYPO3 board

on:
    issues:
        types: [opened]
    pull_request_target:
        types: [opened]

permissions:
    contents: read

jobs:
    add-to-project:
        name: Add issue or PR to project
        runs-on: ubuntu-latest

        steps:
            - name: Harden Runner
              uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
              with:
                  egress-policy: audit

            - name: Generate GitHub App token
              uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
              id: app-token
              with:
                  app-id: ${{ secrets.PROJECT_APP_ID }}
                  private-key: ${{ secrets.PROJECT_APP_PRIVATE_KEY }}
                  owner: netresearch

            - name: Add to project
              uses: actions/add-to-project@244f685bbc3b7adfa8466e08b698b5577571133e # v1.0.2
              with:
                  project-url: https://github.com/orgs/netresearch/projects/4
                  github-token: ${{ steps.app-token.outputs.token }}
