name: CI
on:
  push:
  pull_request:
permissions: {}
jobs:
  ci:
    uses: netresearch/typo3-ci-workflows/.github/workflows/ci.yml@main
    permissions:
      contents: read
    with:
      php-versions: '["8.2", "8.3", "8.4", "8.5"]'
      typo3-versions: '["^13.4.21", "^14.0"]'
      typo3-packages: '["typo3/cms-core", "typo3/cms-backend", "typo3/cms-frontend", "typo3/cms-extbase", "typo3/cms-rte-ckeditor"]'
      run-functional-tests: true
