name: DCO Check

on:
  pull_request:
    branches: [main]

permissions: {}

jobs:
  dco:
    name: Developer Certificate of Origin
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    steps:
      - name: Harden runner
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit

      - name: Get PR commits
        id: get-pr-commits
        uses: tim-actions/get-pr-commits@198af03565609bb4ed924d1260247b4881f09e7d # v1.3.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Check DCO
        uses: tim-actions/dco@f2279e6e62d5a7d9115b0cb8e837b777b1b02e21 # v1.1.0
        with:
          commits: ${{ steps.get-pr-commits.outputs.commits }}
