name: Publish new extension version to TER

on:
    release:
        types: [published]

permissions:
    contents: read

jobs:
    publish:
        name: Publish new version to TER
        if: startsWith(github.ref, 'refs/tags/')
        runs-on: ubuntu-latest

        permissions:
            contents: read

        env:
            TYPO3_EXTENSION_KEY: rte_ckeditor_image
            TYPO3_API_TOKEN: ${{ secrets.TYPO3_TER_ACCESS_TOKEN }}

        steps:
            - name: Checkout repository
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

            - name: Check tag
              env:
                  GIT_REF: ${{ github.ref }}
              run: |
                  if ! [[ "${GIT_REF}" =~ ^refs/tags/v[0-9]{1,3}.[0-9]{1,3}.[0-9]{1,3}$ ]]; then
                      exit 1
                  fi

            - name: Get version
              id: get-version
              run: echo "version=${GITHUB_REF/refs\/tags\/v/}" >> $GITHUB_ENV

            - name: Get comment
              id: get-comment
              env:
                  TAG_VERSION: ${{ env.version }}
                  EXT_KEY: ${{ env.TYPO3_EXTENSION_KEY }}
                  SERVER_URL: ${{ github.server_url }}
                  REPO: ${{ github.repository }}
              run: |
                  # Get first line of tag message only (avoid multiline issues)
                  readonly local comment=$(git tag -n1 -l "v${TAG_VERSION}" | sed "s/^v[0-9.]*[ ]*//g")

                  if [[ -z "${comment// }" ]]; then
                      echo "comment=Released version ${TAG_VERSION} of ${EXT_KEY}" >> $GITHUB_ENV
                  else
                      echo "comment=${comment}" >> $GITHUB_ENV
                  fi

            - name: Setup PHP
              uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2.36.0
              with:
                  php-version: 8.3
                  extensions: intl, mbstring, json, zip, curl
                  tools: composer:v2

            - name: Install tailor
              run: composer global require typo3/tailor --prefer-dist --no-progress --no-suggest

            - name: Publish to TER
              env:
                  RELEASE_COMMENT: ${{ env.comment }}
                  RELEASE_VERSION: ${{ env.version }}
              run: php ~/.composer/vendor/bin/tailor ter:publish --comment "${RELEASE_COMMENT}" "${RELEASE_VERSION}"
